@import "reset.scss";
@import "global.scss";

body {
    // overflow: hidden;
}

input {
    border: initial !important;
    margin: initial !important;

    &:hover {
        border: initial !important;
        box-shadow: initial !important;
    }

    &:active {
        border: initial !important;
        box-shadow: initial !important;
    }

    &:focus {
        border: initial !important;
        box-shadow: initial !important;
    }

    &:focus-within {
        border: initial !important;
        box-shadow: initial !important;
    }
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:focus {
        // background-color: red !important;
        // border: 1px solid red !important;
        background-color: inherit;
    }
}

.main_page {
    background-color: #efefef;
    min-height: 100vh;

    nav {
        background-color: #ffffff;
        box-shadow: 0 3px 4px #efefef;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // border: 1px solid red;
        align-items: center;

        @include screen-size(small) {
            position: relative;
        }

        .navItem {
            // border: 1px solid red;
            color: #222;
            display: inline-block;
            
            h4 {
                // margin-right: 30px;
                
                @include screen-size(small) {
                    margin: initial;
                }

                span {
                    background-color: #c95050;
                }
            }

        }

        .logo {
            margin-left: 50px;
        }

        .studentInfo {
            display: flex;
            justify-content: center;
            align-items: center;

            @include screen-size(small) {
                background-color: #c95050;
                position: absolute;
                top: 100%;
                margin: auto;
                padding: 10px 0;
                width: 100%;
            }

            h4 {
                @include screen-size(small) {
                    color: white;
                    font-size: 15px;
                }

                span {
                    .firstName {
                        text-transform: capitalize;
                    }

                    .lastName {
                        text-transform: capitalize;
                    }
                }
            }

            .logout {
                border-radius: 5px;
                // height: 50px;
                // width: 200px;
                text-align: center;
                padding: 10px 10px;
                margin: 0 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    * {
                        color:#c95050;
                    }
                }

                @include screen-size(small) {
                    padding: 5px 5px;
                }

                *{
                    margin-left: 10px;
                    font-size: 20px;
                    color: #222;
                    // border: 1px solid red;

                    @include screen-size(small) {
                        color: white;
                        font-size: 15px;
                    }
                }

                i {
                    height: initial;
                }
            }
        }
    }

    .testContainer {
        width: 80%;
        margin: auto;
        // background: #fff;
        margin-top: 100px;
        padding: 50px;

        @include screen-size(small) {
            width: 100%;
            padding: 20px;
        }
        
        .testInfoContainer {
            // border: 1px solid red;
            width: 70%;
            margin: auto;
            text-align: center;

            @include screen-size(small) {
                width: 90%;
            }

            .testInfo {
                margin: 15px 0;
                font-family: $open;
                // font-weight: 900;
            }
        }

        .title {
            font-family: $open;
            font-size: 35px;
            line-height: 45px;
            font-weight: 600;
            color: #c95050;

            @include screen-size(small) {
                font-size: 20px;
                line-height: 25px;
            }
            // margin-bottom: 20px;
        }

        .testTheme {
            @include screen-size(small) {
                font-size: 20px;
                line-height: 25px;
            }
        }

        .testContent {
            overflow: hidden;
            // max-height: 500px;
            max-width: 796.86px;
            margin: auto;
            // border: 1px solid red;
            .topic {
                margin-bottom: 20px;
                // font-weight: 700;
                font-family: $open;
            }

            .theTest {
                .testQuestions {
                    margin-top: 50px;
                    // background-color: #ebebeb;
                    // padding: 20px;
                    // width: 99%;
                    // box-shadow: 0px 3px 5px #cccccc;

                    .question {
                        display: flex;
                        align-items: center;

                        @include screen-size(small) {
                            display: block;
                        }

                        h4 {
                            font-size: 20px;
                            font-weight: 900;
                            margin: 10px 0;
                            background: white;
                            width: 100%;
                            padding: 15px;

                            @include screen-size(small) {
                                font-size: 15px;
                            }

                            @include screen-size(kindasmall) {
                                font-size: 15px;
                            }
                        }

                        span {
                            font-size: 15px;
                            margin-right: 10px;
                            display: flex;

                            h4 {
                                background-color: #222;
                                color: white;

                                @include screen-size(small) {
                                    width: 40px;
                                }
                            }
                        }
                    }

                    .answers {
                        // border: 1px solid red;
                        display: block;

                        .answer {
                            display: flex;
                            align-items: center;
                            background-color: white;
                            width: 100%;
                            padding: 10px;

                            @include screen-size(small) {
                                width: 95%;
                                padding: 10px;
                            }
                        }

                        li {
                            min-width: 300px;
                            // max-width: 400px;
                            margin: 20px 0;
                            padding: 12px;
                            padding-left: 0;
                            display: flex;
                            align-items: center;
                            // border-radius: 10px;
                            background-color: #efefef;
                            color: #222;
                            cursor: pointer;

                            span {
                                cursor: pointer;
                            }
                            // box-shadow: 0px 2px 4px #959595;

                            .option_button {
                                background-color: white;

                                @include screen-size(small) {
                                    display: none;
                                }

                                @include screen-size(kindasmall) {
                                    display: none;
                                }
                            } 

                            &:hover {
                                // background-color: #c95050;

                                h4 {
                                    // color: white;
                                }

                                @include screen-size(medium) {
                                    .answer {
                                        // background-color: #c95050;
                                        border: 2px solid #c95050;
                                    }

                                    .option_button {
                                        background-color: #c95050;
                                    }
                                }

                                @include screen-size(large) {
                                    .answer {
                                        // background-color: #c95050;
                                        border: 2px solid #c95050;
                                    }

                                    .option_button {
                                        background-color: #c95050;
                                    }
                                }

                                @include screen-size(xlarge) {
                                    .answer {
                                        // background-color: #c95050;
                                        border: 2px solid #c95050;
                                    }

                                    .option_button {
                                        background-color: #c95050;
                                    }
                                }

                                // span {
                                //     background-color: #fff;
                                //     color: #c95050;
                                // }
                            }

                            span {
                                margin: 0 10px;
                                width: 20px;
                                height: 20px;
                                // border-radius: 5px;
                                text-align: center;
                                text-transform: capitalize;
                                font-size: 12px;
                                font-weight: 500;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                background-color: #c95050;
                            }

                            h4 {
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }

        .testDone {
            margin: auto;
            padding: 10px;
            box-shadow: 0px 3px 4px #c95050;
            // width: 80%;
            max-width: 796.86px;
            margin: 100px auto;
            background-color: #c95050;
            cursor: pointer;
            position: relative;
            top: 0;
            transition: all 0.2s;

            &:active {
                top: 5px;
                box-shadow: 0px 1px 2px #c95050;
            }

            h3 {
                color: white;
            }
        }
    }

    .studentTestsContainer {
        width: 50%;
        max-width: 750px;
        margin: auto;
        // background: #fff;
        margin-top: 100px;
        padding: 50px;

        @include screen-size(small) {
            width: 100%;
            padding: 10px;
        }

        @include screen-size(kindaSmall) {
            width: 80%;
        }

        @include screen-size(medium) {
            width: 100%;
        }

        h1 {
            font-family: $quicksand;
            font-weight: 900;

            @include screen-size(small) {
                text-align: center;
            }
        }
        
        .testSections {
            .testSection {
                .sortItems {
                    width: 50%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    .item {
                        border-bottom: 1px solid #484848;
                        padding: 5px 10px;
                        // width: 100px;
                        cursor: pointer; 
                        -webkit-transition: all .5s;
                        transition: all .5s;
                        margin: 1px;
                    }
                }

                .tests {
                    margin-top: 40px;

                    .test {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        // border: 1px solid #222;
                        background-color: #fff;
                        box-shadow: 0px 3px 5px #c9c8c8;
                        padding: 20px 50px;
                        cursor: pointer;
                        opacity: 0.8;
                        margin-top: 10px;

                        @include screen-size(small) {
                            padding: 25px 20px;
                            display: block;
                        }

                        h4 {
                            @include screen-size(small) {
                                display: block;
                                margin: 10px 0;
                                font-weight: 700;
                                border-bottom: 1px solid #a8a8a8;
                                padding: 10px 0;
                            }
                        }

                        &:hover {
                            opacity: 1;
                            background-color: #fff;
                        }

                        .status {
                            background-color:#16c516;
                            color: white;
                            padding: 3px 20px;
                            font-size: 15px;
                            font-family: $quicksand;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    .adminClassContainer {
        max-width: 50%;
        max-width: 750px;
        margin: auto;
        // background: #fff;
        margin-top: 100px;
        padding: 50px;
        display: block;

        @include screen-size(small) {
            width: 100%;
            padding: 10px;
        }

        @include screen-size(kindaSmall) {
            width: 100%;
        }

        h1 {
            font-family: $quicksand;
            font-weight: 900;
            text-align: center;

            @include screen-size(small) {
                text-align: center;
            }
        }

        .classes_container {
            margin: auto;
            margin-top: 40px;
            text-align: center;
            // border: 1px solid #222;
            // padding: 10px;
            .classes {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                position: relative;

                .class {
                    // border: 1px solid #222;
                    // box-shadow: 0px 3px 5px #c9c8c8;
                    // background-color: #fff;
                    // padding: 20px 50px;
                    cursor: pointer;
                    opacity: 0.9;

                    display: inline-block;
                    padding: 10px;
                    width: 100%;
                    // margin: 0 10px;

                    @include screen-size(small) {
                        // padding: 25px 20px;
                    }

                    &:hover {
                        opacity: 0.7;
                        background-color: #ef3f3f;
                        color: white;
                    }

                    .status {
                        background-color: #16c516;
                        color: white;
                        padding: 3px 20px;
                        font-size: 15px;
                        font-family: $quicksand;
                        font-weight: 300;
                    }
                }

                .selected {
                    // background-color: #ef3f3f;
                    color: #fff;
                }

                .highlight {
                    position: absolute;
                    color: transparent;
                    background-color: #ef3f3f;
                    width: 20%;
                    left: 0%; //0, 20, 40, 60, 80
                    // z-index: 99;
                    // opacity: 1;
                    transition: left 0.7s;
                }
            }
        }

        .testSections {
            .testSection {
                .sortItems {
                    width: 50%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    .item {
                        border-bottom: 1px solid #484848;
                        padding: 5px 10px;
                        // width: 100px;
                        cursor: pointer;
                        -webkit-transition: all .5s;
                        transition: all .5s;
                        margin: 1px;
                    }
                }

                .tests {
                    margin-top: 40px;

                    .test {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        // border: 1px solid #222;
                        background-color: #fff;
                        box-shadow: 0px 3px 5px #c9c8c8;
                        padding: 20px 50px;
                        cursor: pointer;
                        opacity: 0.8;
                        margin-top: 10px;

                        @include screen-size(small) {
                            padding: 25px 20px;
                        }

                        &:hover {
                            opacity: 1;
                            background-color: #fff;
                        }

                        .status {
                            background-color: #16c516;
                            color: white;
                            padding: 3px 20px;
                            font-size: 15px;
                            font-family: $quicksand;
                            font-weight: 300;
                        }
                    }

                    .addExam {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h4 {

                        }

                        span {
                            background-color: #ef5151;
                            color: white;
                            border-radius: 100%;
                            width: 30px;
                            height: 30px;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 40px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }

                    .legend {
                        background: initial;
                        box-shadow: initial;
                        opacity: 1;
                        cursor: initial;

                        &:hover {
                            background-color: initial;
                        }

                        * {
                            min-width: 76.84px;
                            // text-align: center;
                        }

                        .status_ {
                            min-width: 76.84px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .testMakerContainer {
        width: 50%;
        max-width: 750px;
        margin: auto;
        // background: #fff;
        margin-top: 100px;
        padding: 50px;
        position: relative;

        @include screen-size(small) {
            width: 100%;
            padding: 20px;
        }

        .saveChanges {
            background-color: #000000;
            color: white;
            position: absolute;
            right: 0;
            top: 50px;
            padding: 15px;
            cursor: pointer;

            h4 {
                color: white;
            }
        }

        .testOptions {
            .testTitle {
                // background-color: white;
                // background-color: #c950503d;
                margin-top: 30px;
                height: 60px;
                line-height: 60px;
                border-bottom: 2px solid #e43a3aad;
                // border: 2px inset #fff;
                // box-shadow: 0px 3px 3px #c950503d;
    
                input {
                    height: 60px;
                    font-size:23px;
                    // text-align: center;
    
                    &::placeholder {
                        color: #222;
                    }
                }
            }

            .pickClasses {
                .classes {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    .class {
                        margin: 0 10px;
                        display: flex;
                        align-items: center;

                        span {
                            background-color: white;
                            width:10px;
                            height:10px;
                            display: flex;
                            margin: 0 10px;
                            cursor: pointer;
                            border: 1px solid #222;
                        }
                    }
                }
            }
    
            .classes {
                @include test-borders(black);
                width: 100%;
                margin: 20px 0;
                text-align: left;
                text-align: center;
                // box-shadow: 0px 1px 1px #b2b1b1;
                // margin: initial;
    
                @include screen-size(small) {
                    // width:30%;
                }
    
                .dropdown {
                    @include test-borders(pink);
                    position: relative;
                    display: inline-block;
                    width: 50%;
                    // margin: auto;
                    text-align: left;
                    background-color: white;
    
                    span {
                        display: block;
                        @include test-borders(red);
                        // background-color:#f1f1f1;
                        padding: 15px 20px;
                        padding-left: 5%;
                        font-family: $lato;
                        font-size: 20px;
                        // border-top:1px solid #f2f2f2;
                        border-bottom: 1px solid #e0dddd;
                        cursor: pointer;
                    }
    
                    .dropdown_content {
                        @include test-borders(blue);
                        display: block;
                        // position: absolute;
                        background-color: #f1f1f1;
                        color: #222;
                        width: 100%;
                        z-index: 9999;
                        text-align: left;
                        cursor: pointer;
                        height: 189px;
                        overflow-y: auto;
    
                        .dropdown_item {
                            @include test-borders(red);
                            padding: 20px;
                            padding-left: 5%;
                            background-color: white;
    
                            &:hover {
                                background-color: $nav_color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .testMaker {
            .theTest {
                // width: 50%;
                margin: auto;

                .addQuestion {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    // box-shadow: 0px 3px 3px #882e2e;
                    padding: 10px;
                    margin-top: 20px;
                    cursor: pointer;
                    
                    h4 {
                        color: #222;
                        // color: white;
                    }
                }

                .testQuestions {
                    margin-top: 50px;
                    border-bottom: 2px solid #c95050;
                    padding-bottom: 20px;
                    transition: all 0.5s;
                    // background-color: #ebebeb;
                    // padding: 20px;
                    // width: 99%;
                    // box-shadow: 0px 3px 5px #cccccc;

                    &:hover {
                        background-color: #e4e4e4;
                        padding: 10px 25px;
                    }

                    &:focus-within {
                        background-color: #e4e4e4;
                        padding: 10px 25px;
                    }

                    .topStrip {
                        display: flex;
                        justify-content: flex-end;
                        padding: 10px 0;

                        span {
                            margin: 0 15px;
                            cursor: pointer;

                            .fas {
                                color: #8c8c8c;

                                &:hover {
                                    color: #e84646;
                                }
                            }
                        }
                    }

                    .question {
                        display: flex;
                        align-items: center;
                        h4 {
                            font-size: 20px;
                            font-weight: 900;
                            margin: 10px 0;
                            background: white;
                            width: 100%;
                            padding-left: 15px
                        }

                        span {
                            font-size: 15px;
                            margin-right: 10px;
                        }
                    }

                    .answers {
                        // border: 1px solid red;
                        display: block;

                        .answer {
                            display: flex;
                            align-items: center;
                            background-color: white;
                            width: 100%;
                            padding-left: 10px;
                        }

                        li {
                            min-width: 300px;
                            // max-width: 400px;
                            margin: 20px 0;
                            padding-left: 12px;
                            padding-left: 0;
                            display: flex;
                            align-items: center;
                            // border-radius: 10px;
                            background-color: #efefef;
                            color: #222;
                            // cursor: pointer;
                            // box-shadow: 0px 2px 4px #959595;

                            span {
                                cursor: pointer;
                            }

                            .option_button {
                                background-color: white;
                            } 

                            // &:hover {
                            //     // background-color: #c95050;

                            //     h4 {
                            //         // color: white;
                            //     }

                            //     .answer {
                            //         background-color: #c95050;
                            //     }

                            //     .option_button {
                            //         background-color: #c95050;
                            //     }

                            //     span {
                            //         background-color: #fff;
                            //         color: #c95050;
                            //     }
                            // }

                            span {
                                margin: 0 10px;
                                min-width: 20px;
                                min-height: 20px;
                                // border-radius: 5px;
                                text-align: center;
                                text-transform: capitalize;
                                font-size: 12px;
                                font-weight: 500;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                background-color: #c95050;
                            }

                            h4 {
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        .addAnswer {
                            // margin: initial;
                            padding: initial;
                            cursor: pointer;
                            span {
                                background-color: initial;
                                color: #c95050;
                                font-size: 15px;
                            }

                            h4 {
                                color: #c95050;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
    }
}

.login_page {
    // @include test_borders(red);
    background-color: #efefef;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    header {
        // @include test_borders(#222);
        // background-color: #f3f3f3;
        text-align: center;
        display: block;
    }

    .inputs{
        // border: 1px solid red;
        margin: auto;
        // text-align: center;
        min-width: 300px;

        @include screen-size(small) {
            min-width: 270px;
        }

        .input {
            box-shadow: 0px 1px 1px #b2b1b1;
            background-color: white;
            margin-top: 20px;
            text-align: right;

            input {
                background-color: initial;
                border-bottom: initial;
                // height: 100%;
                // border: 1px solid red;
                width: 95%;
                padding-left: 5%;
                margin: initial;

                &:active {
                    border: initial !important;
                }

                &:focus-within {
                    border: initial !important;
                }

                &:focus {
                    // border: initial !important;
                    // box-shadow: initial;
                }
                
                &:hover {
                    border: initial !important;
                }

                // padding-left: 10px;
                // width: 80%;
                // display: inline-block;

                @include screen-size(small) {
                    // background-color: white;
                    // border-bottom: initial;
                    // // padding-left: 10px;
                    // // width: 80%;
                    // margin-top: 20px;
                    // box-shadow: 0px 3px 4px #dddcdc;
                    // // display: inline-block;
                }
            }
        }

        .classes {
            @include test-borders(black);
            width:100%;
            margin:20px 0;
            text-align: left;
            text-align: center;
            box-shadow: 0px 1px 1px #b2b1b1;
            // margin: initial;

            @include screen-size(small) {
                // width:30%;
            }

            .dropdown {
                @include test-borders(pink);
                position: relative;
                display: inline-block;
                width:100%;
                margin: auto;
                text-align: left;
                background-color: white;

                span {
                    display: block;
                    @include test-borders(red);
                    // background-color:#f1f1f1;
                    padding:15px 20px;
                    padding-left:5%;
                    font-family: $lato;
                    font-size: 20px;
                    // border-top:1px solid #f2f2f2;
                    border-bottom:1px solid #e0dddd;
                    cursor: pointer;
                }

                .dropdown_content {
                    @include test-borders(blue);
                    display: block;
                    position: absolute;
                    background-color:#f1f1f1;
                    color:#222;
                    width: 100%;
                    z-index:9999;
                    text-align: left;
                    cursor: pointer;
                    height: 189px;
                    overflow-y: auto;

                    .dropdown_item {
                        @include test-borders(red);
                        padding: 20px;
                        padding-left: 5%;
                        background-color: white;

                        &:hover {
                            background-color:$nav_color;
                            color:white;
                        }
                    }
                }
            }
        }

        .submit_inputs {
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 30px;

            @include screen-size(small) {
                display: block;
                text-align: center;
                button {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }
            }
            
            
            .signin_button {
                border-radius: 30px;
                background-color: red;
                height: 40px;
                width: 150px;
                color: white;
                box-shadow: 0px 3px 2px rgb(163, 163, 163);
                transition: all 0.7s;
                display: flex;
                justify-content: center;
                align-items: center;
                // position: relative;

                .signin {
                    margin: 10px;
                    font-family: $quicksand;
                    font-weight: 900;
                    position: relative;
                    bottom: 0;
                    left: 0;
                    transition: opacity 0.2s;
                }
            }

            h4 {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    }

.app {
    text-align: center;
    // overflow: scroll;
    // max-height: 80vh;
    // margin-top: 200px;

    // @include screen-size(small) {
    //     max-height: 70vh;
    // }

    // @include screen-size(medium) {
    //     max-height: 100vh;
    // }

}